@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#eeecf4]
}

.header-todo::before{
  @apply content-[''] absolute block w-full h-[1px] bg-[#eeecf4] bottom-0 left-0
}

.header-todo .active::before{
  @apply content-[''] absolute block w-full h-[3px] bg-pink-500 bottom-0 left-0
}

.todo-content {
  @apply flex flex-col space-y-4 items-start
}

.todo-content h4 {
  @apply font-semibold text-sm
}

.todo-content p {
  @apply font-light text-xs text-justify
} 

.todo-info {
  @apply flex space-x-4
}

.addtodo-section {
  @apply flex flex-col space-y-4
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}